html,body,h1,p,ul,li{
  margin: 0;
  padding: 0;
}

body{
  background-color: #eee;
}

$primary: #00838f;
$primary-light: #4fb3bf;
$primary-dark: #005662;
$secondary: #ff5722;
$secondary-light: #ff8a50;
$secondary-dark: #c41c00;
$error: #A11;